h1
    { color: teal; font-family: Verdana; }
h2
        { color: rgb(151, 50, 155); font-family: Verdana; }
h3
    { color: rgb(28, 196, 140); font-family: Verdana; }
h4 
    { color: orange; font-family: Verdana; }

body {color: rgb(0, 0, 0); font-family: Verdana;}

li {
        float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d1e3ee;
}

li a {
    display: block;
    color: rgb(38, 38, 139);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(124, 91, 121);
    color: rgb(127, 129, 224);
}

td, th{
    background-color: rgb(178, 208, 228);
    padding: 1px 1px;
    border : 1px solid rgb(175, 175, 175);
}

footer {
    background-color: rgb(50, 26, 134);
    position: center;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}
/* footer {
    position:center;
    left:0px;
    bottom:0px;
    height:40px;
    width:100%;
    background:#999;
} */